{% extends "layout.html" %}

{% block title %}
Calculator
{% endblock title %}


{% block content %}


<div class="index">


<form action="" method="post">
<table >
	<tr>
		<th>
			<p>Electricity price [gr/kWh]:
			<input type="number" name="electricityPricePLN_gr" min="0" max="99999" required/></p>
		</th>
		<th>
			<input class="button navigation" type="submit" value="Go!"/>
		</th>
	</tr>
</table>
</form>

<br>
<br>
<br>

<h3> ZET Tech GPU</h3>


<table id="content">
<tr>
	<th>Model</th>	
	<th>Price [zl]</th>
	<th>Hashrate ETC [Mh/s] </th>
	<th>Hashrate ZIL [Mh/s] </th>
	<th>Hashrate KASPA [Mh/s] </th>
	<th>Power [W]</th>
	<th>Electricity price [gr/kWh]</th>
	<th>Profit per day [zl] </th>
	<th>Days to break-even</th>	
</tr>

<tr>
	<th><a href={{ cDict["link_6xRX570_4gb_used"] }} target="_blank">{{ cDict["rigName_6xRX570_4gb_used"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["hashrate_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["hashrate_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["kas_hashrate_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["power_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["roi_6xRX570_4gb_used"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_12xRX6600_octo"] }} target="_blank">{{ cDict["rigName_12xRX6600_octo"] }}</a></th>
	<th>{{ cDict["rigPricePLN_12xRX6600_octo"] }}</th>
	<th>{{ cDict["hashrate_12xRX6600_octo"] }}</th>
	<th>{{ cDict["hashrate_12xRX6600_octo"] }}</th>
	<th>{{ cDict["kas_hashrate_12xRX6600_octo"] }}</th>
	<th>{{ cDict["power_12xRX6600_octo"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_12xRX6600_octo"] }}</th>
	<th>{{ cDict["roi_12xRX6600_octo"] }}</th>
</tr>

</table>


<h3> OnlyBestMiners GPU</h3>

<table id="content">

<tr>
	<th>Model</th>	
	<th>Price [zl]</th>
	<th>Hashrate ETC [Mh/s] </th>
	<th>Hashrate ZIL [Mh/s] </th>
	<th>Hashrate KASPA [Mh/s] </th>
	<th>Power [W]</th>
	<th>Electricity price [gr/kWh]</th>
	<th>Profit per day [zl] </th>
	<th>Days to break-even</th>	
</tr>

<tr>
	<th><a href={{ cDict["link_obm_10xRTX3070"] }} target="_blank">{{ cDict["rigName_obm_10xRTX3070"] }}</a></th>
	<th>{{ cDict["rigPricePLN_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["hashrate_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["hashrate_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["kas_hashrate_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["power_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["roi_obm_10xRTX3070"] }}</th>
</tr>
</table>


</div>


{% endblock %}


























