{% extends "layout.html" %}

{% block title %}
Calculator
{% endblock title %}


{% block content %}


<div class="index">


<form action="" method="post">
<table >
	<tr>
		<th>
			<p>Electricity price [gr/kWh]:
			<input type="number" name="electricityPricePLN_gr" min="0" max="99999" required/></p>
		</th>
		<th>
			<input class="button navigation" type="submit" value="Go!"/>
		</th>
	</tr>
</table>
</form>

<br>
<br>
<br>

<h3> ZET Tech GPU</h3>


<table id="content">
<tr>
	<th>Model</th>	
	<th>Price [zl]</th>
	<th>Hashrate ETH [Mh/s] </th>
	<th>Power [W]</th>
	<th>Electricity price [gr/kWh]</th>
	<th>Profit per day [zl] </th>
	<th>Days to break-even</th>	
</tr>

<tr>
	<th><a href={{ cDict["link_6xRX570_4gb_used"] }} target="_blank">{{ cDict["rigName_6xRX570_4gb_used"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["hashrate_6xRX570_4gb_used"] }} *mining ETC</th>
	<th>{{ cDict["power_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRX570_4gb_used"] }}</th>
	<th>{{ cDict["roi_6xRX570_4gb_used"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_8xRX6600"] }} target="_blank">{{ cDict["rigName_8xRX6600"] }}</a></th>
	<th>{{ cDict["rigPricePLN_8xRX6600"] }}</th>
	<th>{{ cDict["hashrate_8xRX6600"] }}</th>
	<th>{{ cDict["power_8xRX6600"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_8xRX6600"] }}</th>
	<th>{{ cDict["roi_8xRX6600"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_12xRX6600_octo"] }} target="_blank">{{ cDict["rigName_12xRX6600_octo"] }}</a></th>
	<th>{{ cDict["rigPricePLN_12xRX6600_octo"] }}</th>
	<th>{{ cDict["hashrate_12xRX6600_octo"] }}</th>
	<th>{{ cDict["power_12xRX6600_octo"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_12xRX6600_octo"] }}</th>
	<th>{{ cDict["roi_12xRX6600_octo"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xGTX1660TI"] }} target="_blank">{{ cDict["rigName_6xGTX1660TI"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xGTX1660TI"] }}</th>
	<th>{{ cDict["hashrate_6xGTX1660TI"] }}</th>
	<th>{{ cDict["power_6xGTX1660TI"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xGTX1660TI"] }}</th>
	<th>{{ cDict["roi_6xGTX1660TI"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xRX6700XT"] }} target="_blank">{{ cDict["rigName_6xRX6700XT"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRX6700XT"] }}</th>
	<th>{{ cDict["hashrate_6xRX6700XT"] }}</th>
	<th>{{ cDict["power_6xRX6700XT"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRX6700XT"] }}</th>
	<th>{{ cDict["roi_6xRX6700XT"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_8xRX6700XT_octo"] }} target="_blank">{{ cDict["rigName_8xRX6700XT_octo"] }}</a></th>
	<th>{{ cDict["rigPricePLN_8xRX6700XT_octo"] }}</th>
	<th>{{ cDict["hashrate_8xRX6700XT_octo"] }}</th>
	<th>{{ cDict["power_8xRX6700XT_octo"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_8xRX6700XT_octo"] }}</th>
	<th>{{ cDict["roi_8xRX6700XT_octo"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_8xRTX2060Super"] }} target="_blank">{{ cDict["rigName_8xRTX2060Super"] }}</a></th>
	<th>{{ cDict["rigPricePLN_8xRTX2060Super"] }}</th>
	<th>{{ cDict["hashrate_8xRTX2060Super"] }}</th>
	<th>{{ cDict["power_8xRTX2060Super"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_8xRTX2060Super"] }}</th>
	<th>{{ cDict["roi_8xRTX2060Super"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xRTX3060ti"] }} target="_blank">{{ cDict["rigName_6xRTX3060ti"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRTX3060ti"] }}</th>
	<th>{{ cDict["hashrate_6xRTX3060ti"] }}</th>
	<th>{{ cDict["power_6xRTX3060ti"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRTX3060ti"] }}</th>
	<th>{{ cDict["roi_6xRTX3060ti"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_3xRTX3070ti"] }} target="_blank">{{ cDict["rigName_3xRTX3070ti"] }}</a></th>
	<th>{{ cDict["rigPricePLN_3xRTX3070ti"] }}</th>
	<th>{{ cDict["hashrate_3xRTX3070ti"] }}</th>
	<th>{{ cDict["power_3xRTX3070ti"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_3xRTX3070ti"] }}</th>
	<th>{{ cDict["roi_3xRTX3070ti"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xRTX3070ti"] }} target="_blank">{{ cDict["rigName_6xRTX3070ti"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRTX3070ti"] }}</th>
	<th>{{ cDict["hashrate_6xRTX3070ti"] }}</th>
	<th>{{ cDict["power_6xRTX3070ti"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRTX3070ti"] }}</th>
	<th>{{ cDict["roi_6xRTX3070ti"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xRX6800"] }} target="_blank">{{ cDict["rigName_6xRX6800"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRX6800"] }}</th>
	<th>{{ cDict["hashrate_6xRX6800"] }}</th>
	<th>{{ cDict["power_6xRX6800"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRX6800"] }}</th>
	<th>{{ cDict["roi_6xRX6800"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_3xRTX3090"] }} target="_blank">{{ cDict["rigName_3xRTX3090"] }}</a></th>
	<th>{{ cDict["rigPricePLN_3xRTX3090"] }}</th>
	<th>{{ cDict["hashrate_3xRTX3090"] }}</th>
	<th>{{ cDict["power_3xRTX3090"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_3xRTX3090"] }}</th>
	<th>{{ cDict["roi_3xRTX3090"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_6xRTX3090"] }} target="_blank">{{ cDict["rigName_6xRTX3090"] }}</a></th>
	<th>{{ cDict["rigPricePLN_6xRTX3090"] }}</th>
	<th>{{ cDict["hashrate_6xRTX3090"] }}</th>
	<th>{{ cDict["power_6xRTX3090"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_6xRTX3090"] }}</th>
	<th>{{ cDict["roi_6xRTX3090"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_8xRTX3080_octo"] }} target="_blank">{{ cDict["rigName_8xRTX3080_octo"] }}</a></th>
	<th>{{ cDict["rigPricePLN_8xRTX3080_octo"] }}</th>
	<th>{{ cDict["hashrate_8xRTX3080_octo"] }}</th>
	<th>{{ cDict["power_8xRTX3080_octo"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_8xRTX3080_octo"] }}</th>
	<th>{{ cDict["roi_8xRTX3080_octo"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_8xRTX3090_octo"] }} target="_blank">{{ cDict["rigName_8xRTX3090_octo"] }}</a></th>
	<th>{{ cDict["rigPricePLN_8xRTX3090_octo"] }}</th>
	<th>{{ cDict["hashrate_8xRTX3090_octo"] }}</th>
	<th>{{ cDict["power_8xRTX3090_octo"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_8xRTX3090_octo"] }}</th>
	<th>{{ cDict["roi_8xRTX3090_octo"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_48xRX6700"] }} target="_blank">{{ cDict["rigName_48xRX6700"] }}</a></th>
	<th>{{ cDict["rigPricePLN_48xRX6700"] }}</th>
	<th>{{ cDict["hashrate_48xRX6700"] }}</th>
	<th>{{ cDict["power_48xRX6700"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_48xRX6700"] }}</th>
	<th>{{ cDict["roi_48xRX6700"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_200xRX6700"] }} target="_blank">{{ cDict["rigName_200xRX6700"] }}</a></th>
	<th>{{ cDict["rigPricePLN_200xRX6700"] }}</th>
	<th>{{ cDict["hashrate_200xRX6700"] }}</th>
	<th>{{ cDict["power_200xRX6700"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_200xRX6700"] }}</th>
	<th>{{ cDict["roi_200xRX6700"] }}</th>
</tr>

<tr>
	<th><a href={{ cDict["link_540xRTX3070"] }} target="_blank">{{ cDict["rigName_540xRTX3070"] }}</a></th>
	<th>{{ cDict["rigPricePLN_540xRTX3070"] }}</th>
	<th>{{ cDict["hashrate_540xRTX3070"] }}</th>
	<th>{{ cDict["power_540xRTX3070"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_540xRTX3070"] }}</th>
	<th>{{ cDict["roi_540xRTX3070"] }}</th>
</tr>
</table>


<h3> OnlyBestMiners GPU</h3>

<table id="content">

<tr>
	<th>Model</th>	
	<th>Price [zl]</th>
	<th>Hashrate ETH [Mh/s] </th>
	<th>Power [W]</th>
	<th>Electricity price [gr/kWh]</th>
	<th>Profit per day [zl] </th>
	<th>Days to break-even</th>	
</tr>

<tr>
	<th><a href={{ cDict["link_obm_10xRTX3070"] }} target="_blank">{{ cDict["rigName_obm_10xRTX3070"] }}</a></th>
	<th>{{ cDict["rigPricePLN_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["hashrate_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["power_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["electricityPricePLN_gr"] }}</th>
	<th>{{ cDict["profitDailyPLN_obm_10xRTX3070"] }}</th>
	<th>{{ cDict["roi_obm_10xRTX3070"] }}</th>
</tr>
</table>


</div>


{% endblock %}


























